
.heading1{
    color: blue;
}



.heading2{
    background-color:rgb(138, 238, 238) 
 ;
    
    border-radius: 10px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 50px;
    font-weight: 300px;
    
    
        border-top: 5px solid red;
        text-align: center;
        padding: 40px;
      }
      