/*
*{
    color: red;
}
*/

/*
p {

    background-color: blue;
}
*/
#introduction{
    background-color: aqua;
}
.note{
    background-color: coral;
    font-style: italic;
}
p.note{
    border: 2px solid rgb(150, 243, 9);
     
    border-radius: 10px;
}
li >a {
    color: rgb(255, 0, 34);
}

span+p {
    background-color: rebeccapurple;
    
}